@model MyShop.Models.Products.ProductData

<br />

<div class="container">
    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">
               
                        <a href="#"><img class="center" src=@Url.Content("~/content/web/products/" +@Model.ProductID +".jpg") alt="@Model.ProductName"></a> 
            </aside>
            <aside class="col-sm-7">
                <article class="card-body p-5">
                    <h3 class="title mb-3">@Model.ProductName</h3>
                    <p class="price-detail-wrap">
                        <span class="price h3 text-warning">
                            <span class="currency">US $</span><span class="num">@Model.UnitPrice.</span>
                        </span>
                    <dl class="item-property">
                        <dt>Description</dt>
                        <dd>
                            <p>
                               @Model.Description
                            </p>
                        </dd>
                    </dl>
                    <dl class="param param-feature">
                        <dt>Product ID</dt>
                        <dd>@Model.ProductID</dd>
                    </dl>  <!-- item-property-hor .// -->
                    <dl class="param param-feature">
                        <dt>in stock</dt>
                        <dd>@((int)Model.UnitsInStock)</dd>
                    </dl>  <!-- item-property-hor .// -->


                    <br>

                    <div class="btn btn-light text-uppercase">
                        @Html.ActionLink("add to cart", "AddToCart", "Cart", new { id = @Model.ProductID }, null)
                        <span class="p-price">@String.Format("{0:c}", @Model.UnitPrice)</span>
                    </div>
                </article> <!-- card-body.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card.// -->

</div>


<style>
    .gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: zoom-in;
}


.gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .img-small-wrap {
    text-align: center;
}
.gallery-wrap .img-small-wrap img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}

.card{
    background:inherit;
    border:none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top:50%;
}
</style>